@font-face {
  font-family: "iconfont"; /* Project id 5093508 */
  src: url('iconfont.woff2?t=1766171697470') format('woff2'),
       url('iconfont.woff?t=1766171697470') format('woff'),
       url('iconfont.ttf?t=1766171697470') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
  content: "\e66a";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-gitee-fill-round:before {
  content: "\e686";
}

